[Unit]
Description=Update DNS  data for this host
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ddupdate
Environment=PATH=/bin:/usr/bin:/sbin:/usr/sbin
# User=ddupdate
# Environment=http_proxy=my.proxy.domain:8888
# Environment=https_proxy=my.proxy.domain:8888

[Install]
WantedBy=multi-user.target

