#!/usr/bin/make -f

# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@  --with systemd,python3

override_dh_clean:
	dh_clean
	rm -rf build
	rm -rf ddupdate.egg-info

override_dh_auto_install:
	python3 setup.py install \
		--root=debian/tmp \
	        --prefix=/usr \
		--install-lib /usr/lib/python3/dist-packages
	py3clean debian/tmp
	sed -i '/ExecStart/s|/usr/local|/usr|' \
	    debian/tmp/lib/systemd/system/ddupdate.service

override_dh_systemd_enable:
	dh_systemd_enable --name=ddupdate.timer

override_dh_python3:
	dh_python3 -p ddupdate /usr/share/ddupdate/plugins/* \
		/usr/lib/python*/site-packages/ddupdate.py

